<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="ur3_kinect" >

  <!-- common stuff -->
  <xacro:include filename="$(find ur_description)/urdf/common.gazebo.xacro" />

  <!-- ur3 -->
  <xacro:include filename="$(find ur_description)/urdf/ur3.urdf.xacro" />

  <!-- kinect camera -->
  <xacro:include filename="$(find hector_sensors_description)/urdf/kinect_camera.urdf.xacro" />


  <!-- arm -->
  <xacro:ur3_robot prefix="" joint_limited="false"/>

  <link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

  <!-- kinect camare -->
  <xacro:kinect_camera parent="base_link" name="kinect">
    <!--origin xyz="0.2 0.1 1.0" rpy="0.0 ${pi/2} 0.0"/-->
    <origin xyz="0.2 0.0 1.0" rpy="0.0 ${pi/2} 0.0"/>
  </xacro:kinect_camera>

</robot>
